<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circle</title>
</head>
<body>
    <header>
        <ul>
            <a href=""><li>Triangle</li></a>
            <a href=""><li>Circle</li></a>
        </ul>
    </header>

    <main>
        <h1>Circle Calculator</h1>
    </main>
    <footer>
        <form action="/circle.html" method="post">'
            <div style="display: inline;">
                <label for="Radius">Radius : </label>
                <input type="text" name="radius">
            </div>
            <button type="submit">Calculate</button>   
        </form>
    </footer>
</body>
</html>