<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Circle</title>
</head>
<body>
    <header>
        <ul>
            <a href="./triangle.html"><li>Triangle</li></a>
            <a href="./circle.html"><li>Circle</li></a>
        </ul>
    </header>

    <main>
        <h1>Triangle Calculator</h1>
    </main>
    <footer>
        <form action="/triangle.html" method="post">'
            <div>
                <label for="Base">Base : </label>
                <input type="text" name="base">
            </div>
            <br>
            <div style="display: inline;">
                <label for="Height" >Height : </label>
                <input type="text" name="height">
            </div>  
            <button type="submit">Calculate</button>
        </form>
    </footer>
</body>
</html>